#parentContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 330px;
}

#dropDownContainer {
    display: grid;
    height: 120px;
    grid-template-columns: 100px;
}

.card {
border: solid;
height: 30px;
}

.hidden {
    display: none;
}

#dropDownContainer:hover .hidden {
    display: block;
}

#mobileContainer {
    border: solid;
    width: 200px;
}
#scrollBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
}
.scrollButton {
    display: inline;
}

#slideContainer {
    width: 300px;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none; 
}

#carousel {
    width: 900px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

.slide {
    width: 300px;
    margin: 0;
    padding: 0;
}

#navParent{
    position: relative;
    width: 300px;
    margin: 0;
    padding: 0;
}

.navArrow{
    height: 20px;
    width: 20px;
    background-color:#bbb;
    position: absolute;
    top: 140px;
}

#previous{
    left: 10px;
}

#next{
    z-index: 2;
    right: 10px;
}
.navDotContainer {
    width: inherit;
    height:20px;
    text-align: center;
    bottom: 0;
    position: absolute;
}

.navDot {
    height: 20px;
    width: 20px;
    border: solid;
    border-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: #bbb;;
}